body {
  background-color: rgb(151, 211, 143);
  color: #333;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  width: 70%;
  border: red solid 2px; /* Ta bort den här sen */
}

header {
  margin-bottom: 20px;
}

header nav {
  background-color: rgb(18, 85, 24);
  padding: .5em;
  top: 0; 
  position: sticky;
  border-radius: 10px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

main {
  border-top:rgb(18, 85, 24) solid 2px; /*Ta bort den här sedan */
}


/*ställ in den här ordentligt om den nu ska användas någonstans?*/
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  grid-gap: 20px;
}

.aside-nav {
  background-color: rgb(18, 85, 24);
}

.aside-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.aside-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.aside-nav a.active {
  background-color: #4CAF50;
  color: white;
}

.aside-nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*Photography section*/

.photos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
}

.photos img {
  max-width: 150px;
}

/*Gallery section*/

#gallery {
  background-color: rgb(18, 85, 24);
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 400px;
}

.spacer {
  max-width: 1200px;
  margin: auto;
}

.cards {
  background-color:rgb(18, 85, 24);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
	display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}